PORT=
HTTP_PORT=
HTTPS_PORT=

GRADING_SERVER=
FRONT_SERVER=


MONGO_database=
MONGO_URL=
MONGO_Query=

CHAIN_ID=1001(baobab)|8217(Cypress)

KRN=

ACCESSKEYID=
SECRET_ACCESSKEY=

AUTHORIZATION=

MINE_OWNER_NFT_SELECT=
CCTOKEN_SELECT=